.whatsapp-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
    /* background-color: #25D366; */
    color: white;
    width: 70px;
    /* padding: 1rem; */
    border-radius: 9999px;
    /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-btn:hover {
    /* background-color: #20ba5a; */
    transform: scale(1.1);
}

.whatsapp-btn:active {
    transform: scale(0.95);
}

.tooltip {
    position: absolute;
    right: 100%;
    margin-right: 0.75rem;
    background-color: white;
    color: #1e293b; /* slate-800 */
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid #f1f5f9;
}

.whatsapp-btn:hover .tooltip {
    opacity: 1;
}

.whatsapp-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
}
