---
import "../styles/components/WhatsAppButton.css";
import { Icon } from "astro-icon/components";

const phoneNumber = "+525563632941";
const message =
  "Hola, me gustaría recibir más información sobre sus servicios logísticos.";

const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-btn"
  aria-label="Contactar por WhatsApp"
>
  <!-- Tooltip -->
  <span class="tooltip"> ¿En qué podemos ayudarte? </span>
  <!-- <Icon name="lucide:message-circle" class="whatsapp-icon" /> -->
  <img src={import.meta.env.BASE_URL + "images/whatsapp.avif"} alt="WhatsApp" />
</a>
